body{
    background-color: black;
}

.navi{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(10, 10, 10);
    z-index: 1000;
  }
  
.naviBar{
    float: left;
    color: white;
  }
  
.naviButton{
    display: block;
    padding: 10px;
    padding-left: 30px;
    background-color: rgb(10, 10, 10);
    color: white;
    text-decoration: none; /* no underline */
    font-size: 59px;
    justify-content:space-evenly;
    font-family: BebasNeue;
    width: 100%;
    
  }

footer{
    background-color: black;
    border-style: solid;
    border-color: grey;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

p{
    margin-left: 2%;
}